.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
  table-layout: fixed;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
  white-space:pre-wrap; 
  word-wrap:break-word;
}

th {
  background-color: rgb(117, 201, 250);
  font-size: 15px;
}

td {
  background-color: rgb(05, 235, 253);
  font-size: 10px;
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 13px;
  column-width: 100px;  
}

label {
  margin-left: 15px;
}

#insertToggleForm {
  display: contents;
}

#inputUID{
  width: 50%;
  height: 25px;
}

#inputDescription{
  width: 50%;
  height: 35px;
}
#inputOwner{
  width: 50%;
  height: 25px;
}
#inputoffFor{
  width: 50%;
  height: 25px;
}
#inputonFor{
  width: 50%;
  height: 25px;
}
#inputRelease{
  width: 50%;
  height: 25px;
}
#insertFormSubmitButton{
  width: 20%;
  height: 25px;
  margin-left: 14%;
}

#logo{
  height: 30px;
}

.example-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#myGrid {
  flex: 1 1 0px;
  width: 100%;
}

#loginBtn {
  width: 200px;
  margin: 150px;
}

.example-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  padding: 5px;
  background-color: #0f0f0f;
}

.code-highlight-blue {
  color: #a3b9a3;
}
.code-highlight-yellow {
  color: #e8bf6a;
}
.code-highlight-green {
  color: #a5c261;
}
.code-highlight-purple {
  color: #977582;
}
.transition-width {
  -webkit-transition: width 3s;
  -moz-transition: width 3s;
  -o-transition: width 3s;
  -ms-transition: width 3s;
  transition: width 3s;
}

.label tr td label {
	display: block;
}


.myCollapse {
  display: none;
}
.myCollapse.in {
display: block;
}

